body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url("../Assets/Images/background.webp") no-repeat center center
        fixed;
    background-size: cover;
}

.game-section {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chess-board-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    max-width: 680px;
    margin: auto;
}

.chess-board {
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    border-width: 1px;
    border-color: #a7c7fa;
    border-style: solid;
}

.game-heading {
    text-align: center;
    font-size: 48px;
}

.game-page-content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
}

.clock {
    text-align: center;
    width: 150px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    transition: background-color 0.3s;
}

.clock h2 {
    margin: 0;
    font-size: 24px;
}

.clock p {
    margin: 5px 0 0;
    font-size: 18px;
    font-family: "Courier New", Courier, monospace;
}

.clock.active {
    background-color: #008000;
    color: white;
}

.game-details-wrapper {
    display: flex;
    flex-direction: column;
    gap: 200px;
    margin: auto;
    margin-left: 0px;
}

.player-headings-wrapper {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px 30px;
    border-radius: 25px;
    border-width: 1px;
    border-color: #a7c7fa;
    border-style: solid;
}

.player-heading {
    margin: 0px;
    font-size: 28px;
}

.player-subheading {
    margin: 0px;
    font-size: 16px;
}

.openings-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 50px;
    padding: 50px;
    max-height: 700px;
    overflow-y: auto;
    border-radius: 25px;
    border-width: 1px;
    border-color: #a7c7fa;
    border-style: solid;
    padding-right: 20px; /* Add padding to the right */
}

.openings-wrapper::-webkit-scrollbar {
    width: 8px; /* Adjust the width of the scrollbar */
}

.openings-wrapper::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    background: rgba(255, 255, 255, 0);
}

.openings-wrapper::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.openings-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.variations-wrapper {
    margin-left: 20px;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

button.active-variation {
    background-color: green;
    color: white;
}

button.active-opening {
    background-color: green;
    color: white;
}

.openings-toggle-wrapper {
    display: flex;
    padding-left: 50px;
    gap: 10px;
    margin-bottom: 10px;
}

.game-details-wrapper {
    display: flex;
    flex-direction: column;
    gap: 200px;
    margin: auto;
    margin-left: 0px;
}
