body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url("../assets/images/background.webp") no-repeat center center
        fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-container {
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.white-wrapper {
    text-align: center;
    padding: 50px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}

.white-wrapper h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.white-wrapper p {
    font-size: 18px;
    color: #555;
}

.features {
    text-align: center;
    padding: 50px;
}

.features h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.feature-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.feature-item {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.recent-games {
    text-align: center;
    padding: 50px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin: 20px;
}

.recent-games h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.game-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.game-item {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.game-item h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.game-item p {
    font-size: 16px;
    color: #555;
}

.time-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.time-button {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    cursor: pointer;
    min-width: 150px;
    position: relative;
}

.time-button .time-type {
    display: block;
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}

.time-button:hover {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
